asyncio-dgram==2.0.0
cairocffi==1.0.0
CairoSVG==2.5.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cssselect2==0.4.1
defusedxml==0.7.1
dnspython==2.1.0
Flask==2.0.1
Flask-Cors==3.0.10
idna==2.10
importlib-metadata==4.6.0
itsdangerous==2.0.1
Jinja2==3.0.1
lottie==0.6.7
MarkupSafe==2.0.1
mcrcon==0.6.0
numpy==1.19.5
opencv-python==4.5.2.54
pycparser==2.20
pyTelegramBotAPI==3.7.9
requests==2.25.1
six==1.16.0
tinycss2==1.1.0
typing-extensions==3.10.0.0
urllib3==1.26.5
webencodings==0.5.1
Werkzeug==2.0.1
zipp==3.4.1
